a {
    text-decoration: none;
    color: white;
    background: rgb(94, 93, 93);
    border: 2px solid rgb(94, 93, 93);
    align-self: flex-end;
    padding: 5px 10px;
    margin:  0;
    border-radius: 3px;
    display: none;
  }
  
  #chat {
    width: 400px;
    margin: 15px auto;
    padding: 20px;
  }
  
   .info_output {
    color: rgb(94, 93, 93);
    font-style: italic;
  }

  
  .chat_output {
    margin: 20px 0 5px;
    border: 2px solid rgb(94, 93, 93);
    padding: 10px;
    width: 330px;
    height: 150px;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  
  .chat_output > div {
    max-width: 80%;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 3px;
    color: black;
  }
  
  .chat_output .received {
    background: white;
    border: 2px solid rgb(94, 93, 93);
    align-self: flex-start;
  }
  .chat_output .sent {
    background: white;
    border: 2px solid rgb(94, 93, 93);
    align-self: flex-end;
  }
  .chat_input input {
    padding: 5px 10px;
    border: 2px solid 
    rgb(94, 93, 93);
  }
  
  .chat_output .sent {
    background: white;
    border: 2px solid rgb(94, 93, 93);
    align-self: flex-end;
  }
  
  .btn_send {
    padding: 7px 10px;
    color: #fff;
    background: rgb(94, 93, 93);
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn_send:hover {
    box-shadow: 0px 2px 8px 2px rgba(400, 200, 199, .3);
    transform: scale(1.05);
  }
  
  .btn_geo {
    padding: 7px 10px;
    color: #fff;
    background: rgb(94, 93, 93);
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn_geo:hover {
    box-shadow: 0px 2px 8px 2px rgba(400, 200, 199, .3);
    transform: scale(1.05);
  }

  .task{
    font-size: 10px;
    margin-bottom: 30px; 
    width: 350px;
  }
  
  